.App {  
  min-height: 100vh;
  text-align: center;  
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + vmin);
  color: white;
  background-color: #455065;
}

.App-link {
  color: #61dafb;
}

.Form-item {
  padding: 5px;
  margin: 10px;
}

.Primary-button {
  min-width: 300px;  
  padding: 5px;
}

/* CSS */
.Primary-button {
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Primary-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.Primary-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.Secondary-button {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.MainContent {
  height: 100vh;
  padding-top: 60px;
  background-color: #282c34;
  margin: auto;
  float: left;
  width: 40%;
}

.MainContent img {
  min-width: 60%;
}

.LeftContent {
  background-color: #111;
  height: 100vh;
  width: 30%;
  float: left;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.LeftContent div {
  padding: 8px 8px 8px 32px;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.LeftContent div:hover {
  color: #f1f1f1;
}

.RightContent {
  background-color: #111;
  float: right;
  width: 30%;
  height: 100vh;
  transition: 0.5s;
  overflow-x: hidden;  
  padding-top: 60px;
}



.left-nav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.left-nav div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.left-nav div:hover {
  color: #f1f1f1;
}

.column {
  float: left;
  width: 20%;
  padding: 20px;
}

.row {
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}